@page
@model BluLogistics.Entitys.LibrosView
@{
    
}
<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPaginas)
            </th>
            <th></th>
        </tr>
    </thead>
</table>